* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #010101;
    color: #c0c1c9;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Roboto, sans-serif;
}

header img {
    width: 30px;
    margin-left: 10px;
}

@keyframes spin { 100% { transform:rotate(360deg); } }
@keyframes spin-out { 100% { transform:rotate(-360deg); } }

header img:hover {
    animation:spin 1s linear;
}

header img:not(:hover) {
    animation:spin-out 1s linear;
}

header h1 {
    font-size: 25px;
}

main {
    height: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .editors {
    width: 100%;
    height: 40px;

    font-size: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 15px;

    background-color: #0a0a0a;
}

main .editors .pointer {
    cursor: pointer;
}

main .editors .active {
    width: 30px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;

    background-color: #1c1b2c;
}

main .editors .active {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
}

main .editors .inactive {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

main .editors .line {
    width: 2px;
    height: 20px;
    background-color: #c0c1c9;
}

main div {
    background-color: #111111;
    outline: none;

    width: 300px;
    height: 450px;

    padding: 20px;

    font-family: Roboto, sans-serif;
}


footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: Roboto, sans-serif;
}

footer .contacts a {
    text-decoration: none;
    color: #898b96;

    font-size: 30px;

    margin: 0 0.2rem;
}

footer .contacts a:hover {
    color: #898b96;
}

.hearth {
    color: red;
    font-size: 30px;
}

@media (min-width: 650px) { 
    header h1 {
        font-size: 30px;
    }
    
    header img {
        width: 30px;
        margin-left: 10px;
    }

    main .editors {
        padding: 0 70px;
    }

    main div {
        width: 500px;
    }
}

@media (min-width: 900px) { 
    header h1 {
        font-size: 50px;
    }
    
    header img {
        width: 40px;
        margin-left: 20px;
    }

    main .editors {
        padding: 0 200px;
    }

    main div {
        width: 800px;
    }
}